@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Orbitron:wght@400;500;900&family=Poppins:wght@100;200;400;600;900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    color: white;
}

body {
    padding-top: 50px;
    background: url("./frog.jpg");
    background-position: top;
    background-size: cover;    
    height: 100vh;
}

p {
    margin-bottom: 0;
}

h1 {
    font-weight: 900;
}

button {
    width: 100px;
}

.wrapper {
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}
